.vscode

# ansible
ansible/inventories/*
!ansible/inventories/.gitkeep
ansible/inventories/host_vars/*
!ansible/inventories/host_vars/.gitkeep

# terraform
terraform/**/.terraform/*
terraform/*.tfstate
terraform/*.tfstate.*

join-command-worker
kube_config

.env

cloud-sa.json